<h1>New Store Flavor</h1>

<%= render 'form', store_flavor: @store_flavor %>

<div class="col s8">
<button class="waves-effect waves-teal btn blue"><i class="material-icons right">keyboard_backspace</i><%= link_to 'Back', store_flavors_path, :class=>"white-text" %> </button>
</div>