<%= render 'form' %>

<button class="waves-effect waves-teal btn green"><i class="material-icons right">fiber_new</i><%= link_to link_to link_to 'Show', @employee, :class=>"white-text" %> </button>
<button class="waves-effect waves-teal btn blue"><i class="material-icons right">keyboard_backspace</i><%= link_to link_to 'Back', employees_path, :class=>"white-text" %> </button>