<%= render 'form' %>

<button class="waves-effect waves-teal btn blue"><i class="material-icons right">keyboard_backspace</i><%= link_to link_to 'Back', employees_path, :class=>"white-text" %> </button>