<%= form_for(:assignment, url: for_store_assignments_path) do |f| %>
    <table border="0" cellspacing="5" cellpadding="5">
		<tr valign="top">
			<td>
    <div class="input-field">
	    <%= f.label :store_id %><br />
		<%= f.collection_select :store_id, Store.alphabetical, :id, :name, :prompt => "Select ..." %>
	</div>
	</td>
	<td>
	<%= f.submit "choose" %>
	</td>
			<td width="25">&nbsp;</td>
		</tr>
	</table>
	<% end %>