<%= render 'form' %>
</br>
<div class="col s8">
<button class="waves-effect waves-teal btn blue"><i class="material-icons right">keyboard_backspace</i><%= link_to link_to 'Back', assignments_path, :class=>"white-text" %> </button>
</div>