<p>
  <a href="/">Home</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="about">About Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="contact">Contact Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="#">Back to top</a>
</p>

<div id="copyright">
  <br />Webmaster: <%= mail_to "ynabdulg@andrew.cmu.edu", "Yara Al-Abdulghani", :encode => "javascript" %>
    &nbsp;&nbsp;Copyright 2016
  <br /><br />
</div>