<p>
  <a href="/">Home</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="about">About Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="contact">Contact Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="#">Back to top</a>
</p>
<div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large purple">
      <i class="large material-icons">add_circle</i>
    </a>
    <ul>
      <li><a href="/" class="btn-floating blue"><i class="material-icons">home</i></a></li>
      <li><a href="about" class="btn-floating yellow darken-1"><i class="material-icons">contact_phone</i></a></li>
      <li><a href="contact" class="btn-floating green"><i class="material-icons">info</i></a></li>
    </ul>
  </div>
<div id="copyright">
  <br />Webmaster: <%= mail_to "ynabdulg@andrew.cmu.edu", "Yara Al-Abdulghani", :encode => "javascript" %>
    &nbsp;&nbsp;Copyright 2016
  <br /><br />
</div>