<h1>Editing User</h1>

<%= render 'form', user: @user %>


<button class="waves-effect waves-teal btn green"><i class="material-icons right">fiber_new</i><%= link_to link_to link_to 'Show', @user, :class=>"white-text" %> </button>
<button class="waves-effect waves-teal btn blue"><i class="material-icons right">keyboard_backspace</i><%= link_to link_to 'Back', users_path, :class=>"white-text" %> </button>
