<h2>Welcome To A &amp; M Creamery</h2>

<br />

<div class="row white">

	<div>

		<p>

			A &amp; M Creamery is one of the best chains of 

			ice cream shops we know in the Greater Pittsburgh area.

			You should come to one of our stores and buy lots of our ice cream right now.  

			Our ice cream is delicious, nutritious and amazing in every way.  

			Why are you still reading this?  You should be down here buying ice 

			cream right now.  Stop reading and get your backside moving to an 

			A &amp; M Creamery store now.  
		</p>
	</div>

</div>