<h1><em>A&M Creamery</em></h1>
<div class="row white">
    <div>
        <div>
            <p> 

                The A&M Creamery is an original franchise started by the Heimann brothers. We are dedicated to making amazing ice-cream. This Web application is dedicated primarily to the adminstration of employees, stores, and assignments of the Creamery. 

            </p>
        </div>
    </div>
</div>