<div class="row white">

	<div>

		<h2>Contact A&W Creamery</h2>

				<p>Webmaster:&nbsp;&nbsp;&nbsp; Yara Al-Abdulghani</p>

				<p>Email: <%= mail_to("ynabdulg@andrew.cmu.edu", "Email Me*", :encode => "javascript") %></p>


				<p>Phone: +974 50100999</p>

	</div>
</div>