<div class="row white">

	<div>

		<h2>Contact A&W Creamery</h2>

				<p>Webmaster:&nbsp;&nbsp;&nbsp; Yara Al-Abdulghani</p> 
				<p>Email: <%= mail_to("ynabdulg@andrew.cmu.edu", "Email Me*", :encode => "javascript") %></p> 
				<p>Phone: +974 50100999</p>
				<p>Hours: Monday - Friday</p>
				<p>7:00AM - 7:00PM EST</p>
				
		<img src="https://cdn.pixabay.com/photo/2015/10/30/15/07/contact-us-1014232_960_720.png" width="300" height="200"/>

	</div>
</div>