<div class="row white">

	<div class="small-7 columns">

		<h2>Contact A&W Creamery</h2>


		<table cellpadding="3">

			<tr>

				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>

				<td>Yara Al-Abdulghani</td>

			</tr>

			<tr>

				<td>Email:</td>

				<td>

				<%= mail_to("ynabdulg@andrew.cmu.edu", "Email Me*", :encode => "javascript") %> 

				</td>

			</tr>

			<tr>

				<td>Phone:</td>

				<td><%= +974 50100999 %> </td>

			</tr>

		</table>

	</div>
</div>