<h1>Editing Shift Job</h1>

<%= render 'form', shift_job: @shift_job %>

<div class="col s8">
<button class="waves-effect waves-teal btn green"><i class="material-icons right">fiber_new</i><%= link_to link_to link_to 'Show', @shift_job, :class=>"white-text" %> </button>
<button class="waves-effect waves-teal btn blue"><i class="material-icons right">keyboard_backspace</i><%= link_to link_to 'Back', shift_jobs_path, :class=>"white-text" %> </button>
</div>