<div class="center white">
<h2>Shift_Job details</h2>
</div>
<div class="col s8">
<table class="bordered centered white">
  <thead>
          <tr>
              <th>Shift ID</th>
              <th>Job</th>
          </tr>
  </thead>
  <tbody>
          <tr>
            <td>@shift_job.shift_id</td>
            <td><%=Job.find(@shift_job.job_id).name%></td>
          </tr>
  </tbody>
</table>
</br>
</br>
<button class="waves-effect waves-light btn red"><i class="material-icons right">edit</i><%= link_to 'Edit', edit_shift_job_path(@shift_job), :class=>"white-text" %> </button> 
<button class="waves-effect waves-light btn green"><i class="material-icons right">keyboard_backspace</i><%= link_to 'Back', shift_jobs_path, :class=>"white-text" %> </button> 
</div>

<div class="col s1">    
</div> 
<div class="col s3">       
        <!-- SIDEBAR CONTENT GOES HERE -->       
        <%= render partial: 'partials/shift_jobs/quick_links' %>     
</div>
