$primary-color: #e1bee7; 
$table-color: #e1bee7; 
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
$button-height: 26px;
#toast-container {
    left:1%;
    right: auto !important; 
}
@import "materialize";
body {
  background: {
     image: asset_url("back.png");
  }
}