$primary-color: #4527a0; 
$table-striped-color: #e1bee7; 
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
$button-height: 26px;
#toast-container {
    left:1%;
    right: auto !important; 
}
@import "materialize";